AddType text/x-component .htc

RewriteEngine On

<Files "favicon.ico">
RewriteRule ^/([^/]+/)+favicon\.ico$ favicon.ico [L]
</Files>

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

SetEnv APPLICATION_ENV "development"